---
import Section from "../Section.astro"

import { projects } from "@cv"
---

<Section title="Proyectos">
  <ul>
    {
      projects.map(
        ({ url, description, highlights, name }) => {
          return (
            <li>
              <article>
                <header>
                  <h3>
                    <a href={url} target="_blank" title={`Ver el proyecto ${name}`}>
                      {name}
                    </a>
                  </h3>
                </header>
                  <p>{description}</p>
                <footer>
                  {highlights.map((highlight) => {
                  const capitalizedHighlight = highlight.charAt(0).toUpperCase() + highlight.slice(1);
                  return <span class={`${highlight}`}>{capitalizedHighlight}</span>;
                    })}
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 1rem;
    padding: inherit;

  }
  li{
    list-style: none;
  }

  article {
    border-radius: 8px;
    border: 1px solid #f2f2f2;
    display: flex;
    flex-direction: column;
  
    height: 100%;
  }
  article header{
    margin: 0 auto;
  min-height: 50px;

  display: flex;
    align-items: flex-end;
    order: 1;
  }

  article h3 {
  margin: 0 auto;
  text-align: center;
  height: 64px;
  display: flex;
  align-items: center;
  }

  article a {
    color: #111;
  }

  article a:hover {
    text-decoration: underline;
  }

  article p {
    font-size: 0.75rem;
    line-height: 1.2rem;
    margin-bottom: 4px;
    height: 180px;
    order: 2;
    padding: 10px;
    flex: 1;
  }

  article h3 span {
    color: rgb(0, 188, 47);
    animation-name: flicker;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
  }

  footer {
    display: grid;
    grid-template-columns: repeat(3,80px);
    place-content: center;
    font-size: 0.6rem;
    justify-content: center;
    align-items: center;
    order: 3;
    margin: 0 auto;
    cursor: none;
    text-align: center;
    gap: 10px;
    margin-bottom: 15px;

  }

  footer span {
  border-radius: 6px;
  color: #444;
  font-size: .7rem;
  font-weight: 500;
  padding: 0.2rem 0rem;
  background-color: #eee;
  cursor: none ;
  margin: 0;
  letter-spacing: normal;


}

/* Colores para mobile (siempre visibles) */
@media (max-width: 767px) {

  footer span.react {
    border: solid 1px #61dafb;
    background-color: #61dafb80;
  }

  footer span.javascript {
    border: solid 1px #f7df1e;
    background-color: hsla(53, 93%, 55%, 0.502);
  }


  footer span.nodejs {
    border: solid 1px #53da53;
    background-color: #53da5380;
  }

  footer span.css {
    border: solid 1px #2965f1;
    background-color: #2965f180;
  }

  footer span.tailwind {
    border: solid 1px #38bdf8;
    background-color: #38bdf880;
    }

  footer span.pug {
    border: solid 1px #e8ddd0;
    background-color: #e8ddd080;
  }

  footer span.mui {
    border: solid 1px #007fff;
    background-color: #007fff80;
  }

  footer span.html {
    border: solid 1px #e34f26;
    background-color: #e34f2680;
  }

  footer span.bem {
    border: solid 1px #2965f1;
    background-color: #2965f180;
  }
}

/* Estilos para desktop (colores al hacer hover) */
@media (min-width: 768px) {
  ul{
    margin-inline: -16px;
  }

  footer {
    grid-template-columns: repeat(2,80px);
  }

  footer span.react {
    border: solid 1px transparent;
    transition: background-color 0.2s ease;
  }
  footer span.react:hover {
    border: solid 1px #61dafb;
    background-color: #61dafb80;
  }

  footer span.javascript {
    border: solid 1px transparent;
    transition: background-color 0.2s ease;
  }
  footer span.javascript:hover {
    border: solid 1px #f7df1e;
    background-color: #f7de1f80;

  }

  footer span.nodejs {
    border: solid 1px transparent;
    transition: background-color 0.2s ease;
  }
  footer span.nodejs:hover {
   border: solid 1px #53da53;
    background-color: #53da5380;
  }

  footer span.css {
    border: solid 1px transparent;
    transition: background-color 0.2s ease;
  }

  footer span.css:hover {
    border: solid 1px #2965f1;
    background-color: #2965f180;
  }

  footer span.tailwind {
    border: solid 1px transparent;
    transition: background-color 0.2s ease;
  }

  footer span.tailwind:hover {
    border: solid 1px #38bdf8;
    background-color: #38bdf880;
  }

  footer span.pug {
    border: solid 1px transparent;
    transition: background-color 0.2s ease;
  }

  footer span.pug:hover {
    border: solid 1px #e8ddd0;
    background-color: #e8ddd080;
  }

  footer span.mui {
    border: solid 1px transparent;
    transition: background-color 0.2s ease;
  }

  footer span.mui:hover {
    border: solid 1px #007fff;
    background-color: #007fff80;
  }

  footer span.html {
    border: solid 1px transparent;
    transition: background-color 0.2s ease;
  }

  footer span.html:hover {
    border: solid 1px #e34f26;
    background-color: #e34f2680;
  }

  footer span.bem {
    border: solid 1px transparent;
    transition: background-color 0.2s ease;
  }

  footer span.bem:hover {
    border: solid 1px #2965f1;
    background-color: #2965f180;
  }
}
  .github-code-link {
    margin-left: 5px;
  }

  @keyframes flicker {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.25;
    }
    100% {
      opacity: 1;
    }
  }

  @media (width <= 700px) {
    ul {
      margin-inline: 0px;
    }

    article {
      border: none;
      box-shadow: 0 1px 1px #f2f2f2;
      padding: 0 0 16px 0;
    }
  }

  @media print {
    article h3 span {
      animation-name: none;
    }
  }
</style>